* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: var(--bg);
    color: var(--tx);
}

:root {
    --p: #AFA9EC;
    --t: #5DCAA5;
    --bg: #080808;
    --bg2: #0e0e0e;
    --bg3: #141414;
    --bd: #1e1e1e;
    --tx: #f0f0f0;
    --tx2: #888;
    --tx3: #444;
    --fontFamily--P: "Cause", cursive;
}

.projectt {
    align-content: center;
    padding: 56px 48px;
    font-family: var(--fontFamily--P);
}

.project1 {
    background-image: url(../img/111.png);
}

.project2 {
    background-image: url(../img/222.png);
}

.project {
    display: grid;
    height: auto;
    width: auto;
    background-color: var(--bg);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    overflow: hidden;
}

.card {
    position: relative;
    max-height: 327px;
    border: 1px solid var(--bd);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeUp .6s ease both;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(../img/a_high_detail_professional_abstract_profile_image_for_a_front_end_developer.png);

}

.spannn {
    font-size: 12px;
    background-color: var(--bg);
    padding: 4px;
    width: 3rem;
    border-radius: 5px;
    text-align: center;
    font-family: var(--fontFamily--P);
}

.co {
    overflow: hidden;
    padding: 12rem 2rem 0.5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--bg3) 100%);
    animation: fadeUp .6s ease both;
}

.project-card-h {
    font-family: var(--fontFamily--P);
    font-size: 1.4rem;
    padding: 0.5rem 0;
    transition: transform 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card:hover .project-card-h {
    transform: translateY(-45px);
}

.project-card-desc {
    line-height: 1;
    position: absolute;
    bottom: 5px;
    left: 20px;
    overflow: hidden;
    opacity: 0;
    font-size: 0.9rem;
    color: var(--tx2);
    padding-bottom: 1rem;
    font-family: var(--fontFamily--P);
}

.card:hover .project-card-desc {
    opacity: 1;
}


.skils {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 0.6rem;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, var(--bg3) 290%);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    pointer-events: none;
}

.card:hover .skils {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.card:hover {
    transition: all 0.5s ease;
    transform: rotate(0deg);
}
