.contact {
   align-content: center;
   height: 100vh;
   padding: 56px 48px;
   border-bottom: 1px solid var(--bd);
   font-family: var(--fontFamily--P);
}

.form-h {
   display: inline-block;
   font-size: 34px;
   font-weight: 700;
   font-family: var(--fontFamily--P);
   letter-spacing: -1px;
   margin-bottom: 36px;
   line-height: 1.1;
   transform: skewX(-30deg);
   transform: rotate(-15deg);
}

.form {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: var(--fontFamily--P);
   background-color: var(--bg2);
   border-radius: 6px;
   padding: 2rem;
}

.form-pp {
   padding: 1rem;
   font-size: 0.9rem;
   color: var(--tx3);
}

.form-p {
   font-size: 1.2rem;
   color: var(--tx2);
}

.form-in {
   display: grid;
   gap: 2rem;
}

.container {
   display: none;
   text-align: center;
}

.container.activee {
   display: block;
}

.input {
   font-family: var(--fontFamily--P);
   color: var(--bd);
   padding: 1rem;
   width: 14rem;
   height: 2rem;
   border-radius: 5px;
   border: none;
}

.input-m {
   font-family: var(--fontFamily--P);
   color: var(--bd);
   padding: 1rem;
   width: 14rem;
   height: 2rem;
   border-radius: 5px;
   border: none;
   height: 100px;
}

.input::placeholder {
   font-family: var(--fontFamily--P);
   color: var(--tx2);
}

.input:hover {
   outline: none;
   border: none;
}

.input::be {
   border: none;
}

.bbtn {
   font-family: var(--fontFamily--P);
   background-color: var(--bg);
   color: var(--tx);
   width: 50%;
   border: none;
   border-radius: 7px;
   padding: 0.5rem;
}