* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}


:root {
  --p: #AFA9EC;
  --t: #5DCAA5;
  --bg: #080808;
  --bg2: #0e0e0e;
  --bg3: #141414;
  --bd: #1e1e1e;
  --tx: #f0f0f0;
  --tx2: #888;
  --tx3: #444;
  --fontFamily--P: "Cause", cursive;
}

body {
  background: var(--bg);
  color: var(--tx);
  overflow-x: hidden;

}

body.active {
  background-color: var(--tx);
  color: var(--bg);
}

.scroll {
  scroll-snap-align: start;
  height: 100vh;
}

.no {
  height: calc(100vh - 52px);
}

.ev {
  display: block;
  padding-left: 50%;
}


.footer {
  height: 52px;
  padding: 20px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--bg3)
}

.ft {
  font-size: 10px;
  color: var(--tx3);
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px
}

